In [1]:
# query data

In [2]:
import gspread
import pandas as pd

In [3]:
gc = gspread.service_account()

In [5]:
sheet = gc.open_by_key('1C3_gG_oGbtZobrdnm2nh00wxeeeQ1FXCTJypkw8uNx0')

In [7]:
data = sheet.get_worksheet(1)

In [10]:
df = pd.DataFrame(data.get_all_records())

In [11]:
df.head

<bound method NDFrame.head of                 name adjusted_assists adjusted_goals  \
0      Sebastian Aho              202            171
1          Jake Bean               17              2
2        Jesper Fast               99             60
3     Warren Foegele               43             44
4      Jake Gardiner              216             50
..               ...              ...            ...
977    Riley Sheahan               65             43
978     Jeff Skinner              197            237
979    Tage Thompson               14             20
980  Dustin Tokarski
981    Linus Ullmark

    adjusted_goals_against_average adjusted_goals_created adjusted_points age  \
0                                                     148             373
1                                                       6              19
2                                                      60             159
3                                                      36              87
4                                                      86             266
..                             ...                    ...             ...  ..
977                                                    41             108
978                                                   183             434
979                                                    15              34
980                           3.23
981                           3.04

     assists average_time_on_ice blocks_at_even_strength  ...  \
0        175               18:41                     110  ...
1         11               14:16                      21  ...
2         92               14:37                     278  ...
3         33               13:20                      49  ...
4        200               21:21                     592  ...
..       ...                 ...                     ...  ...
977       60               14:39                     119  ...
978      175               17:06                     143  ...
979       11               12:43                      17  ...
980        1                                              ...
981        1                                              ...

    team_abbreviation ties_plus_overtime_loss time_on_ice  \
0                                                    6838
1                                                     628
2                                                    6167
3                                                    2668
4                                                   11765
..                ...                     ...         ...
977                                                  4279
978                                                  9903
979                                                  1323
980                                         4
981                                        13

    time_on_ice_even_strength total_goals_against_on_ice  \
0                      5498.1                        298
1                       575.6                         19
2                        5343                        322
3                      2414.2                        125
4                      1371.4                        468
..                        ...                        ...
977                    3517.4                        193
978                    2788.4                        470
979                    1215.3                         61
980
981

    total_goals_for_on_ice total_shots weight wins    year
0                      452        1802    173       Career
1                       22         118    189       Career
2                      242         731    191       Career
3                      102         568    198       Career
4                      579        1960    195       Career
..                     ...         ...    ...  ...     ...
977                    181         740    204       Career
978                    522        3400    200       Career
979                     38         353    205       Career
980                                       204    9  Career
981                                       221   50  Career

[982 rows x 91 columns]>

In [13]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\vincent\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
Requirement already satisfied: six in c:\users\vincent\appdata\roaming\python\python38\site-packages (from ipython-sql) (1.13.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\vincent\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\vincent\anaconda3\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\vincent\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: pygments in c:\users\vincent\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: pickleshare in c:\users\vincent\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\vincent\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\vincent\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: decorator in c:\users\vincent\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\vincent\appdata\roaming\python\python38\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\vincent\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: jedi>=0.10 in c:\users\vincent\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: wcwidth in c:\users\vincent\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\vincent\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13705 sha256=8d0fcf04cea9bd3783a3723ccb4fb5a139e5f94cd7f3df9946683c27d79bf623
  Stored in directory: c:\users\vincent\appdata\local\pip\cache\wheels\46\60\6c\bb25d05df22906786206e901e9354bb3061061191116768bee
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

In [14]:
%load_ext sql

In [15]:
%sql sqlite://

In [19]:
%%sql

select * from df limit 5

 * sqlite://
(sqlite3.OperationalError) no such table: df
[SQL: select * from df limit 5]
(Background on this error at: http://sqlalche.me/e/13/e3q8)